.header-container {
    display: flex;
    justify-content: space-evenly;

    height: 20%;
}

.header-container > img {
    height: 100px;
}

.list-continer {
    width: 50%;

    display: flex;
    list-style: none;
    justify-content: space-between;
}

.list-continer > li {
    display: flex;
    align-items: center;
}

.header-container > button {
    width: 5rem;

    padding: 0;
    margin: 0;

    padding: 2rem 3rem;
}

.button-container {
    width: 5rem;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    background: black;
    color: white;
}

.landing-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-container {
    display: none;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-list {
    display: none;
}

.hover-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto 0;
}

.hover-item:hover > .dropdown-list {
    display: block;
}

.hamburger-container {
    display: none;
}

@media (max-width: 800px) {
    .hamburger-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-continer {
        display: none;
    }

    .header-container > img {
        order: 1;
    }

    .button-container {
        order: 3;
    }

    .hamburger-container {
        order: 2;
    }
}
